{% extends "main.html" %}

{% block content %}
<h2>Страница авторизованного пользователя {{request.user.username}}</h2>
<div> Здесь может содержаться персональная информация для каждого пользователя</div>

<!--лажа от СкиллФактори: отправляется GET запрос, а его никто не обрабатывает-->
<!--<button> <a href="sign/logout/">Выйти</a> </button>-->

<!--исправляем с помощью post запроса-->
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Выйти">
</form>
{% endblock %}
